{% load static %}
{# ===== HTML ===== #}
<!DOCTYPE html>
<html lang="en" dir="ltr">
{# ===== Head ===== #}
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fachschaftszitate</title>
    <meta name="author" content="Michael Götz"/>
    {% block js_extra %}{% endblock %}
    <!-- Bootstrap CSS -->
    {#    <link rel="stylesheet" href="{% static 'libs/font-awesome-4.7.0/css/font-awesome.css' %}">#}
    <link rel="stylesheet" href="{% static 'libs/bootstrap-4.0.0-beta-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'home/form.css' %}">
    {% block css_extra %}{% endblock %}
</head>

{# ===== Body ===== #}
<body>
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 pt-2">
                {% block headline %}{% endblock %}
            </div>
        </div>
        <div class="row">{% block bottom_nav %}{% endblock %}</div>
        <div class="test row bg-dark text-white">
            {% block content %}{% endblock %}
        </div>

        {% block test %}
            <div class="row text-center bg-warning pb-2 pl-3 pr-3" style="font-size: 12px !important;">
                <div class="col-12 text-center">
                    Hinweis: Diese Seite dient <strong>nur</strong> zu Testzwecken.
                    Wir garantieren weder die Vollständigkeit, noch
                    die Korrektheit der dargestellten Daten.
                </div>
            </div>
        {% endblock %}
        {% block footer %}
            <footer>
                <div class="row bg-dark text-white">
                    <div class="col-6">
                        <p class="text-left mb-0"><a href="#">Impressum</a></p>
                    </div>
                </div>
                <div class="row text-center bg-dark text-white pb-2">
                    <div class="col">
                        © Copyright 2017, Michael Götz
                    </div>
                </div>
            </footer>

        {% endblock %}
    </div>
{% endblock %}
{% block js_tail %}{% endblock %}
</body>
</html>