{% load static %}
{# ===== HTML ===== #}
<!DOCTYPE html>
<html lang="en" dir="ltr">
{# ===== Head ===== #}
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fachschaftszitate</title>
    <link rel="icon"
          type="image/png"
          href="{% static 'images/logo.png' %}">
    <meta name="author" content="Michael Götz"/>
    {% block js_extra %}{% endblock %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'libs/font-awesome-4.7.0/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'libs/bootstrap-4.0.0-beta-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'home/form.css' %}">
    <link rel="stylesheet" href="{% static 'home/main.css' %}">
    <script src="{% static 'libs/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'libs/popper.js-1.14.4/dist/umd/popper.js' %}"></script>
    <script src="{% static 'libs/bootstrap-4.0.0-beta-dist/js/bootstrap.js' %}"></script>


    {% block css_extra %}{% endblock %}
</head>

{# ===== Body ===== #}
<body class="bg-dark">
{% block body %}
    <nav class="navbar sticky-top navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" width="30" height="30"
                 class="d-inline-block align-top" alt="">
            WIAI Zitate
        </a>
        <small class="text-muted">a WIAI Original</small>
        <a href="{% url 'logout' %}">Logout</a>
    </nav>
    <div class="container-fluid">
        <div class="row">{% block bottom_nav %}{% endblock %}</div>
        <div class="test row bg-dark text-white">
            {% block content %}{% endblock %}
        </div>

        {% block footer %}
            <footer>
                <div class="row text-center bg-dark text-white pt-2 pb-1">
                    <div class="text-center col-12">
                        © Copyright 2018, Michael Götz (<a href="#">Impressum</a>)
                    </div>
                </div>
            </footer>

        {% endblock %}
    </div>
{% endblock %}
<script src="{% static 'js/form.js' %}"></script>
{% block js_tail %}{% endblock %}
</body>
</html>