{% extends 'base.jinja' %}
{% block headline %}
    <header class="">
        <h1 class="text-center mb-0" style="font-size: 20px">WIAI Zitate</h1>
        <p class="text-center">WIAI Original</p>
    </header>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row text-dark mb-4">
            <div class="col-6 bg-white p-2">
                <h2>Neues Zitat hinzufügen</h2>
                <form method="POST" action="{% url 'register_quote' %}">
                    {% csrf_token %}
                    <input type="date" name="timestamp" value="{{ today_date|date:'Y-m-d' }}" required
                           id="id_timestamp">

                    {{ statement_formset.management_form }}
                    {% for form in statement_formset %}
                        <div class="form-row">
                            {% for field in form %}
                                {{ field }}
                            {% endfor %}
                            <button class="btn btn-success add-form-row">+</button>
                        </div>
                    {% endfor %}
                    <br/>
                    <input type="submit" value="Save"/>
                </form>
            </div>
            <div class="col-6 bg-white p-2">
                <h2>Neue Quelle hinzufügen</h2>
                <form method="POST" action="{% url 'register_author' %}">
                    {% csrf_token %}
                    {{ authorform.as_p }}
                    <input type="submit" value="Save"/>
                </form>
            </div>
        </div>
        <div class="row text-dark">
            <div class="col-12 bg-white">
                <h2>Zitate</h2>
                <p>Search: <input type="text" id="search" autofocus/>
                    <span id="reset">✕</span>
                </p>
                <div class="row">
                    <div class="col-6 col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                        <strong>Zeitstempel</strong>
                    </div>
                    <div class="col-6 col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                        <strong>Quelle</strong>
                    </div>
                    <div class="col-12 col-xs-12 col-sm-4 col-md-6 col-lg-6 col-xl-8">
                        <strong>Zitat</strong>
                    </div>
                </div>
                <hr/>
                <hr/>
                {% for quote in quotes %}
                    <div class="quote row">
                        <div class="quote-timestap col-6 col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                            {{ quote.timestamp }}
                        </div>
                        <div class="quote-author col-6 col-xs-6 col-sm-8 col-md-9 col-lg-10 col-xl-10">
                            {% for statement in quote.statements.all %}
                                <div class="row">
                                    <div class="col-6 col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 quote-author">
                                        {{ statement.author.name }}
                                    </div>
                                    <div class="col-6 col-xs-6 col-sm-8 col-md-9 col-lg-10 col-xl-10 quote-statement">
                                        {{ statement.text }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <hr/>
                {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}