{#{% load static %}#}
{# ===== HTML ===== #}
<!DOCTYPE html>
<html lang="en" dir="ltr">
{# ===== Head ===== #}
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fachschaftszitate</title>
    <link rel="icon"
          type="image/png"
          href="{{ static('images/logo.png') }}">
    <meta name="author" content="Michael Götz"/>
    {% block js_extra %}{% endblock %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="{{ static('home/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="{{ static('js/main.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>


    {% block css_extra %}{% endblock %}
</head>

{# ===== Body ===== #}
<body class="bg-light">
<nav class="navbar shadow sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="{{ url('home') }}">
        <img src="{{ static('images/logo.png') }}" width="30" height="30"
             class="d-inline-block align-top" alt="Zitate App Logo">
        {{ site_name }}
    </a>
    <div>
        {% if request.user.is_authenticated %}
            <a class="pr-2" href="{{ url('gifs') }}" data-toggle="tooltip" data-placement="bottom"
               title="Gif Registration"><i class="fas fa-video"></i> Gifs</a>
        {% endif %}
        {% if request.user.is_superuser %}
            <a class="pr-2" href="{{ url('admin:index') }}" data-toggle="tooltip" data-placement="bottom"
               title="Adminbereich"><i class="fas fa-crown"></i> Admin</a>
        {% endif %}
        {% if request.user.is_authenticated %}
            <a href="{{ url('logout') }}" data-toggle="tooltip" data-placement="bottom" title="Logout"><i
                    class="fas fa-sign-out-alt"></i> Logout</a>
        {% endif %}
    </div>
</nav>
<div class="container-fluid">
    {% block content %}{% endblock %}
    <!-- The Modal -->
    <div class="modal" id="successModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content rounded-0" role="document">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Krass! <span class="text-success">Success</span>
                        <p>Das Formular wurde erfolgreich gespeichert!</p></h4>
                    <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times"
                                                                                style="font-size: 2rem"></i></button>
                </div>

                <!-- Modal body -->
                <video id="successGif" class="modal-body" src="{{ static('images/success/dumbledore.mp4') }}" loop
                       autoplay muted
                       width="100%"></video>
            </div>
        </div>
    </div>
    <div class="modal" id="failModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content rounded-0" role="document">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Fuck! <span class="text-danger">Error!</span>
                        <span>Sorry Dude!</span>
                    </h4>

                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fas fa-times" style="font-size: 2rem"></i>
                    </button>
                </div>

                <!-- Modal body -->
                <video id="failGif" class="modal-body" src="{{ static('/images/oops/oops.mp4') }}" loop autoplay muted
                       width="100%"></video>
            </div>
        </div>
    </div>

    <footer class="text-center fixed-bottom">
        <p class="mb-0 mt-1">© Copyright 2020, Michael Götz
            (<a href="#">Impressum</a>,
            <a href="#">Datenschutz</a>)</p>
        <p class="mb-0"><a href="https://github.com/michigg/quotes/issues" target="_blank">
            <i class="fab fa-github"></i> Problem melden</a><span
                class="ml-2">Version: {{ version }}</span></p>
</div>
</footer>

<script src="{{ static('js/form.js') }}"></script>
<script src="{{ static('js/trash.js') }}"></script>
{% block js_extra_footer %}{% endblock %}
</body>
</html>