{#{% load static %}#}
{# ===== HTML ===== #}
<!DOCTYPE html>
<html lang="en" dir="ltr">
{# ===== Head ===== #}
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fachschaftszitate</title>
    <link rel="icon"
          type="image/png"
          href="{{ static('images/logo.png') }}">
    <meta name="author" content="Michael Götz"/>
    {% block js_extra %}{% endblock %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ static('libs/font-awesome-4.7.0/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ static('libs/bootstrap-4.0.0-beta-dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ static('home/form.css') }}">
    <link rel="stylesheet" href="{{ static('home/main.css') }}">
    <script src="{{ static('libs/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ static('libs/handlebars-379172e.js') }}"></script>
    <script src="{{ static('js/main.js') }}"></script>
    <script src="{{ static('libs/popper.js-1.14.4/dist/umd/popper.js') }}"></script>
    <script src="{{ static('libs/bootstrap-4.0.0-beta-dist/js/bootstrap.js') }}"></script>

    {% block css_extra %}{% endblock %}
</head>

{# ===== Body ===== #}
<body class="bg-dark">
<nav class="navbar sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="{{ url('home') }}">
        <img src="{{ static('images/logo.png') }}" width="30" height="30"
             class="d-inline-block align-top" alt="Zitate App Logo">
        {{ site_name }}
    </a>
    <div>
        <a class="pr-2" href="{{ url('admin:index') }}">Admin</a>
        <a href="{{ url('logout') }}">Logout</a>
    </div>
</nav>
<div class="container-fluid">
    {% block content %}{% endblock %}
</div>

<footer class="bg-dark text-white py-1 text-center">© Copyright 2019, Michael Götz (<a href="#">Impressum</a>)</footer>

<script src="{{ static('js/form.js') }}"></script>
</body>
</html>