{% extends 'base.jinja2' %}
{% import 'macros/util_macros.jinja2' as mutils %}

{% block content %}
    <div class="row mt-2 justify-content-center">
        <div class="col-12 col-md-8 col-lg-7 col-xl-6 bg-white mb-2 py-2">
            <h2 class="mb-3 h3">Neues Zitat hinzufügen</h2>
            {{ mutils.get_quote_add_form(statement_formset, user_groups, today_date, authors) }}
        </div>
        <div class="col-12 col-md-4 col-lg-4 col-xl-3 bg-white mb-2 py-2">
            <h2 class="mb-3 h3">Neuen Autor hinzufügen</h2>
            {{ mutils.get_author_add_form() }}
        </div>
    </div>
    <div class="row mb-2 justify-content-center">
        <div class="col-12 col-lg-11 col-xl-9 bg-white text-dark pt-2">
            <h2 class="col-8 h3">Zitate</h2>
            <div class="col-12 quote-search">
                {{ mutils.get_quote_search() }}
            </div>
            {{ mutils.get_list_headline() }}
            <hr class="m-2"/>
            <div id="quotes-wrapper">
                Handlebars.js code
                {% raw %}
                <script id="entry-template" type="text/x-handlebars-template">
                    <div class="quote row">
                        <div class="quote-timestamp col-12 col-lg-3">
                            <div class="row">
                                <div class="col-5 col-lg-8">
                                    {{ timestamp }}
                                </div>
                                <div class="quote-group col-7 col-lg-4 text-right">
                                    {{ owner.name }}
                                </div>
                            </div>
                            <hr class="mt-1 mb-2 d-block d-lg-none"/>
                        </div>
                        <div class="col-12 col-lg-9">
                            {{#each statements }}
                            <div class="row">
                                <div class="quote-author col-4 col-sm-2">
                                    {{ this.author.name }}
                                </div>
                                <div class="quote-statement col-8 col-sm-10">
                                    {{ this.text }}
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </script>
                {% endraw %}
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal" id="successModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" role="document">

                <!-- Modal Header -->
                <div class="modal-header text-dark">
                    <h4 class="modal-title text-dark">Krass! <span class="text-success">Success</span>
                        <p class="text-dark">Das Formular wurde erfolgreich gespeichert!</p></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;
                    </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <video id="successGif" src="{{ static('images/success/dumbledore.mp4') }}" loop
                                       autoplay
                                       width="100%"></video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="failModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" role="document">

                <!-- Modal Header -->
                <div class="modal-header text-dark">
                    <h4 class="modal-title text-dark">Fuck! <span class="text-danger">Error!</span>
                        <span class="text-dark">Sorry Dude!</span></h4>

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <video id="failGif" src="{{ static('/images/oops/oops.mp4') }}" loop autoplay
                                       width="100%"></video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}