html {
    min-height: 100vh;
}

footer {
    width: 100%;
    font-size: 12px;
}

footer a:link,
footer a:hover,
footer a:visited,
footer a:active {
    color: white;
    text-decoration: underline;
}

.quote-search {
    display: flex;
    align-items: center;
    /*justify-content: flex-end;*/
}

@media only screen and (min-width: 768px) {
    .quote-search {
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 767px) {
    .quote-search {
        justify-content: flex-start;
    }
}

.quote {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .6);
    padding: 5px 5px;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
}
